body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: aliceblue;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111;
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 90vh;
  background-image: url("/images/BGimage.avif");
  background-size: cover;
  background-position: center;
  background-color:rgb(237, 234, 229);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  padding: 60px 20px;
  text-align: center;
}

/*
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
}
  */

.skills {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}
/*
.project-card-detail {
  width: 30%;
  margin-bottom: 15px;
}

.project-video {
  width: 30%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}*/


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-auto-rows: auto;                 /* creates 2 rows automatically */
  gap: 30px;
  align-items: stretch;
}

/* Card styling */
.card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #ddd;
}

/* Video container */
.project-card-detail {
  width: 100%;
  height: 380px;       /* adjust height as needed */
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
}

/* Video */
.project-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}